.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: rgb(1, 1, 1);
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: rgb(1, 1, 1);
}

input:focus {
  outline: 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 body{
    background-color:#DBE5E6;
    object-fit: cover;
    color: #004A54;
    font-family: 'Mali', cursive;
    min-height: 100vh;
    font-size: large;
    text-align: center;
    margin-top: 10%;
}

.notification:not(:last-child){
    margin-bottom:0;
}
header{
    color: #DBE5E6;
    background-color:  #004A54; 
    text-align: left;
    font-family: 'Mali', cursive; 
    padding-top: 5%; 
    padding-bottom: 5%;
}
.header1 a { 
    color: #DBE5E6;
    text-decoration: none;
    margin-right: 2%;
}
.header1{
    color: #DBE5E6;
    background-color:  #004A54; 
    text-align: left;
    font-family: 'Mali', cursive; 
    padding-top: 5%;
    padding-bottom: 5%; 
    display: flex;
    width: 1000px;
 }
 .s_header{
    font-size: x-large;    
    color: whitesmoke;
}
.s_h_1{ 
    color: whitesmoke;
    font-weight: bolder;  
    font-size:larger;
    margin-left: 5%;
    text-decoration:none;
    display: flex; 
}

li {
    list-style: none;
    display: flex;
  }
.menu{
    margin-right :5%;
    margin-left :5%;
    margin-top: 5%
}
.menu_icon1{
    fill:#DBE5E6;
}

.header1{
  color: #DBE5E6;
  background-color:  #004A54; 
  text-align: left;
  font-family: 'Mali', cursive; 
  padding-top: 5%;
  padding-bottom: 5%; 
  display: flex;
  
}
.s_header{
  font-size: x-large;    
  color: whitesmoke;
}
.s_h_1{ 
  color: whitesmoke;
  font-weight: bolder;  
  font-size:larger;
  margin-left: 5%;
  text-decoration:none;
  display: flex; 
}

li {
  list-style: none;
  display: flex;
}

.signup_body{
  align-items: center;
  background-color:whitesmoke;
  padding-top: 1%;
  padding-bottom: 5%;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}
.signup_body a{
  text-align: center;
  text-decoration: none;  
}
.signup_body h1{
  text-align: center;
  text-decoration: none;  
}
.signup_body p{
 
  text-align: center;
  text-decoration: none;  
}

.Post_index{
    width: 100%;
    display: flex;
  
}

.button{
  background-color: #004A54;
  width: 25%;
  height: 10%;
  margin-top:2% ;
  margin-bottom: 10%;
  margin-right: 3%;
  border-radius: 20px;
  font-size: medium;
  color:whitesmoke;
}
.login{
  margin-bottom: 5%;
  text-align: center;
}
.name_box{
  width: 50%;
  margin-top: 3%;   
  text-align: center;
}
.name{
  width:20%;
  margin-top: 3%; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
